{
    ApplicationDescription = "Simple Text Editor";
    ApplicationIcon = "App2.png";
    ApplicationName = App2;
    ApplicationRelease = "1.0.0";
    Authors = (
	"darkoverlordofdata"
    );
    Copyright = "Copyright (C) 2023 LGPL";
    CopyrightDescription = "GNU LESSER GENERAL PUBLIC LICENSE Version 2.1";
    FullVersionID = "1.0.0";
    NSExecutable = App2;
    NSIcon = "App2.png";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://darkoverlordofdata.com/application/";
}